.footer{
    height: 35em;
    padding: 7em 10em;
    text-align: center;
    border-top: 2px solid white;
    background-color: #EE929D;
}
.footer .title {
    font-size: 2.4em;
    font-weight: 800;
    color: white;
    font-family: "Irish Grover", system-ui;
}

.footer-link-menu ul {
    list-style: none;
    margin-top: 1em;
    margin-left: -2.4em;
}
.footer-link-menu ul li {
    font-size: 1.1em;
    font-weight: 600;
}
.footer-link-menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration: underline;
}
.footer-link-menu ul li a:hover{
    color: rgb(236, 236, 236);
}