.record-button{
    position: fixed;
    bottom: 5em;
    right: 5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: transform 0.5s ease;

}
.record-button:hover {
    transform: scale(1.2);
}
.record-button button {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    font-size: 1.8em;
    font-weight: 400;
    border: 18px solid rgb(255, 255, 255);
    color: white;
    background-color: #EE929D;
    font-family: "Irish Grover", system-ui;
    box-shadow: 1px 1px 5px 1px rgb(132, 132, 132);
    cursor: pointer;
    transition: box-shadow 0.3s ease; 
}
.record-button button:focus {
  outline: none;
}
.record-button button:hover {
    animation: spin 4s linear infinite; 
    box-shadow: 2px 2px 10px 2px rgb(186, 186, 186);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



